@model IEnumerable<LanchesMac.Models.Lanche>

<div>
    <h2>Todos os lanches</h2>
</div>
<hr />
<br />

@foreach (var lanche in Model)
{
    <div>
        <h4>@lanche.Nome</h4>
        <p><img src="@lanche.ImagemUrl" width="300" height="200" /></p>
        <p>Preço: @lanche.Preco.ToString("c")</p>
    </div>
}


